body {
    font-family: Arial, sans-serif;
    background: #1f1f1f;
    color: aliceblue;
}
.header {
    max-width: 1800px;/*Important for responsive website*/
    padding: 0px;
    background-color: rgba(182, 29, 248, 0.764);
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container {
    text-align: center;
}

.board {
    background-color: antiquewhite;
    display: inline-grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    margin-bottom: 20px;
}

.cell {
    color: black;
    width: 100px;
    height: 100px;
    border: 2px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
}

.message {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.btn {
    padding: 10px 20px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 2.3vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 2px solid black;
    border-radius: 7px;
    transition: 0.2s;
    cursor: pointer;
}
.btn:hover{
    color: white;
    background-color: black;
    padding: 10px 20px;
    font-size: 2.3vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 7px;
    cursor: pointer;
}
.btn:active{
    color: black;
    background-color: antiquewhite;
}
